body {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;

    background-color: var(--light-gray);
}

.qr-component {
    display: flex;
    flex-direction: column;

    color: var(--grayish-blue);
    background-color: var(--white);

    h1 {
        color: var(--dark-blue);
    }
}

.attribution { 
    font-size: 11px; 
    text-align: 
    center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}